<template>
  <main class="project-page">
    <navigation class="project-page__nav" />
    <h1 class="project-page__title">Исполненные проекты</h1>

    <catalog-list :catalog-list="catalogList" class="project-page__catalog"></catalog-list>

    <div class="project-page__row">
      <advantages class="project-page__advantages"></advantages>
      <certificate class="project-page__certificate"></certificate>
    </div>

    <information class="project-page__info"></information>
    <request-form class="project-page__request"></request-form>
  </main>
</template>

<script>
  import Navigation from '../../components/Navigation'
  import Advantages from '../../components/Advantages'
  import CatalogList from '../../components/CatalogList'
  import RequestForm from '../../components/RequestForm'
  import Certificate from '../../components/Certificate'
  import Information from '../../components/Information'

  export default {
    name: 'Index',
    components: {
      Navigation,
      Advantages,
      CatalogList,
      RequestForm,
      Certificate,
      Information
    },
    data: () => ({
      catalogList: []
    }),
    created() {
      this.loadCatalogList()
    },
    methods: {
      async loadCatalogList() {
        const listResponse = await fetch('http://localhost:3000/projects')
        this.catalogList = await listResponse.json()
      }
    }
  }

</script>

<style lang='scss'>
  @import "/assets/scss/variables.scss";
  @import "/assets/scss/mixins.scss";

  .project-page {
    max-width: 1064px;
    margin: auto;
    overflow: hidden;
    padding: 0 20px;

    @media (max-width: $mobile) {
      padding: 15px;
    }

    &__nav {
      margin-top: 20px;

      @media (max-width: $mobile) {
         display: none;
      }
    }

    &__title {

      @include title;
      text-align: left;
      margin-top: 24px;
    }

    &__catalog {
      margin-bottom: 24px;
      margin-top: 32px;
    }

    &__row{
      display: flex;
      justify-content: space-between;

      @media (max-width: $mobile) {
        flex-direction: column;
      }

      @media (max-width: $tablet) {
        flex-direction: column;
      }
    }

    &__advantages {
      flex: 0 0 calc(50% - 12px);
      max-width: calc(50% - 12px);

      @media (max-width: $mobile) {
        max-width: 100%;
        margin-bottom: 48px;
      }

      @media (max-width: $tablet) {
        max-width: 100%;
        margin-bottom: 24px;
      }
    }

    &__certificate {
      flex: 0 0 calc(50% - 12px);
      max-width: calc(50% - 12px);

      @media (max-width: $tablet) {
        max-width:100%;
      }
    }

    &__info {
      margin-top: 24px;
      margin-bottom: 24px;
    }

    &__request {
      margin-top: 24px;
    }
  }
</style>
