@import "/assets/scss/variables.scss";

@mixin title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: $black;
  text-align: center;
}

@mixin base-block {
  background: $white;
  box-shadow: 0px 2px 10px rgba(139, 139, 139, 0.05);
  border-radius: 8px;
}

@mixin advantages-certificate {
  @include base-block;
  padding: 32px 16px 24px;

  &__title {
    @include title;
  }
}

@mixin information-text {
 // flex: 0 0 calc(20% - 24px);
  width: calc(100% - 24px);

  &--img {
    width: 64px;
    height: 64px;
    margin-left: 32px;
  }

  &--text {
    color: $black;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 24px;
  }
}

