html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: inherit;
  font: inherit;
}
i, cite, em, var, dfn, address {
  /* prevent faux italic */
  font-style: normal;
}
b, h1, h2, h3, h4, h5, h6, strong, th {
  /* prevent faux bold */
  font-weight: normal;
}
/* HTML5 display-role reset for older browsers (UC Browser on Android) */
article, aside, figcaption, figure, footer, header, menu, section {
  display: block;
}
blockquote, q {
  /* browsers use English quotation marks which may not be appropriate for every language */
  /* see https://en.wikipedia.org/wiki/Quotation_mark#Summary_table */
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: none;
}
table {
  table-layout: fixed; /* let authors control table attributes */
  /* default to compact tables */
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  vertical-align: bottom; /* remove bottom spacing from images */
}
img, object, video, iframe {
  max-width: 100%; /* don't allow replaced elements to break out of parent containers */
}
*, ::before, ::after {
  position: relative; /* set every element as the frame for its childrens' positioning */
  box-sizing: border-box; /* intuitive sizing */
  background-clip: padding-box; /* intuitive background image sizing */
  hyphens: auto; /* better readability - don't forget to set a lang attribute */
}
[hidden] {
  display: none !important; /* enforce semantics */
}
:disabled, [disabled], [aria-disabled="true"] {
  cursor: not-allowed; /* affordance */
}
/* https://github.com/mozdevs/cssremedy/issues/11#issuecomment-462867630 */
@media (prefers-reduced-motion: reduce) {
  *:not(.safe-animation),
  *:not(.safe-animation)::before,
  *:not(.safe-animation)::after {
    animation-duration: 0.01s !important;
    animation-delay: 0s !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0s !important;
    transition-delay: 0s !important;
    scroll-behavior: auto !important;
  }
}
