<template>
  <article class="advantages">
    <h3 class="advantages__title">Преимущества</h3>

    <ul class="advantages__line">
      <li v-for="item in advantagesList" :key="item.id" class="advantages__item advantages-item">
        <img class="advantages-item__img" :src="`/${item.img}`">
        <h4 class="advantages-item__title">{{item.title}}</h4>
        <p class="advantages-item__text">{{item.text}}</p>
      </li>
    </ul>

    <swiper class="advantages__swiper" :options="swiperOption">
        <swiper-slide v-for="item in advantagesList" :key="item.id">
          <img class="advantages-item__img" :src="`/${item.img}`">
          <h4 class="advantages-item__title">{{item.title}}</h4>
          <p class="advantages-item__text">{{item.text}}</p>
        </swiper-slide>
      <div slot="pagination" class="swiper-pagination"></div>
    </swiper>

  </article>
</template>

<script>
  import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
  import 'swiper/css/swiper.css'

  export default {
    name: 'Advantages',
    components: {
      Swiper,
      SwiperSlide
    },
    data: () => ({
      advantagesList: [{
        id: 1,
        img: 'advantages_sign.svg',
        title: 'Скорость',
        text: 'При комплексном заказе отопления дома бесплатный год сервисного обслуживания!'
      }, {
        id: 2,
        img: 'advantages_sign.svg',
        title: 'Качество',
        text: 'При комплексном заказе отопления дома бесплатный год сервисного обслуживания!'
      }, {
        id: 3,
        img: 'advantages_sign.svg',
        title: 'Интерес',
        text: 'При комплексном заказе отопления дома бесплатный год сервисного обслуживания!'
      }],
      swiperOption: {
        spaceBetween: 60,
        slidesPerView: 1,
        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    })
  }
</script>

<style lang='scss'>
  @import "/assets/scss/variables.scss";
  @import "/assets/scss/mixins.scss";

  .advantages {
    @include advantages-certificate;
    @media (max-width: $mobile) {
      width: 100%;
    }

    &__line {
      display: flex;
      list-style: none;
      margin-top: 30px;
      justify-content: space-between;

      @media (max-width: $mobile) {
        display: none;
      }
    }

    &__swiper {

      @media (max-width: $mobile) {
        height: 100%;
        width: 100%;
        padding: 27px 40px 60px;
        border-radius: 18px;
      }

      @media (min-width: $mobile) and (max-width: $desktop) {
        display: none;
      }
    }


    &__item {
      flex: 0 0 calc(33.33% - 16px);
      width: calc(33.33% - 16px);
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .advantages-item {

      &__img {
        width: 46px;
        height: 50px;

        @media (max-width: $mobile) {
          margin-left:70px;
        }
      }

      &__title {
        display: block;
        text-align: center;
        margin-top: 18px;
        color: $black;
        font-weight: 700;
        font-size: 16px;
        line-height: 20px;
      }

      &__text {
        display: block;
        text-align: center;
        margin-top: 14px;
        color: $black;
        font-weight: 500;
        font-size: 12px;
        line-height: 20px;

        @media (max-width: $mobile) {
          max-width: 138px;
          margin-left: 25px;
        }

        @media (min-width: $mobile) and (max-width: $tablet) {
          max-width: 138px;
        }

      }
    }
  }
</style>
