<template>
  <div class="catalog-element">
    <nuxt-link :to="`/projects/${catalogElement.id}`"
               class="catalog-element__img">
      <img :src="catalogElement.img">
    </nuxt-link>
    <div class="catalog-element__content">
      <span class="catalog-element__material">{{catalogElement.material}}</span>
      <span class="catalog-element__title">{{catalogElement.title}} </span>
      <div class="catalog-element__row">
        <span class="catalog-element__price">{{catalogElement.price.current}} &#8381;</span>

        <nuxt-link :to="`/projects/${catalogElement.id}`"
                   class="catalog-element__link">
          <svg width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M25 49C38.2548 49 49 38.2548 49 25C49 11.7452 38.2548 1 25 1C11.7452 1 1 11.7452 1 25C1 38.2548 11.7452 49 25 49Z"
                  stroke="#EEEEEE" />
            <path fill-rule="evenodd" clip-rule="evenodd"
                  d="M21.0894 34.5L31 24.75L21.0894 15L19 17.0555L26.8212 24.75L19 32.4445L21.0894 34.5Z"
                  fill="#546DE5" />
          </svg>
        </nuxt-link>
      </div>

    </div>
  </div>
</template>

<script>
  export default {
    name: 'CatalogElement',
    props: {
      catalogElement: {
        type: Object,
        required: true
      }
    }
  }
</script>

<style lang='scss'>
  @import "/assets/scss/variables.scss";
  @import "/assets/scss/mixins.scss";

  .catalog-element {
    padding: 14px;
    background: $white;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
    border-radius: 8px;

    @media (max-width: $mobile) {
      display: flex;
      padding: 10px 16px 10px 10px;
      box-shadow: none;
      border-radius: 0;
    }

    &__img {
      display: block;
      width: 100%;
      height: 172px;

      @media (max-width: $mobile) {
        flex: 0 0 70px;
        height: 82px;
        width: 70px;
        margin-right: 10px;
      }

      @media (min-width: $mobile) and (max-width: $tablet) {
        //flex: 0 0 299px;
        height: 172px;
        width: 325px;
        margin-left: 0px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    &__material {
      display: block;
      margin-top: 12px;
      font-weight: normal;
      font-size: 12px;
      color: #999999;

      @media (max-width: $mobile) {
        margin-top: 2px;
        font-size: 11px;
      }
    }

    &__title {
      display: block;
      margin-top: 8px;
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      color: #3B3B3B;
      letter-spacing: 0.3px;

      @media (max-width: $mobile) {
        font-size: 11px;
        line-height: 14px;
      }

      @media (max-width: $tablet) {
        //line-height: 14px;
      }
    }

    &__row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;

      @media (max-width: $mobile) {
        margin-top: 12px;
      }
    }

    &__price {
      font-weight: 700;
      font-size: 18px;
      color: #3B3B3B;
    }

    &__link:hover {
      svg {
        fill: #546DE5;

        path:first-child {
          stroke: #546DE5;
        }

        path:last-child {
          fill: $white;
        }
      }
    }

    &__link svg {
      @media (max-width: $mobile) {
        width: 28px;
        height: 28px;
      }
      @media (min-width: $mobile) and (max-width: $tablet) {
        width: 48px;
        height: 48px;
      }
    }
  }
</style>
