<template>
  <section class="catalog">
    <catalog-element v-for="item in catalogList" :key="item.id"
                     :catalog-element="item"
                     class="catalog__element"></catalog-element>
  </section>
</template>

<script>
  import CatalogElement from './CatalogElement'

  export default {
    name: 'CatalogList',
    components: {
      CatalogElement
    },
    props: {
      catalogList: {
        type: Array,
        required: true
      }
    },
    methods: {}


  }

</script>

<style lang='scss'>
  @import "/assets/scss/variables.scss";

  .catalog {
      display: flex;
      flex-wrap: wrap;
      margin: -12px;

    @media (max-width: $mobile) {
      flex-wrap: nowrap;
      flex-direction: column;
      margin: 0;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.05);
      border-radius: 8px;
      overflow: hidden;
    }

    &__element {
      flex: 0 0 calc(25% - 24px);
      width: calc(25% - 24px);
      margin: 12px;

      @media (max-width: $mobile) {
        & + & {
          border-top: 1px solid #ECEDF3;
        }
        flex: auto;
        width: 100%;
        margin: 0;
      }

      @media (min-width: $mobile) and(max-width: $tablet) {
        flex: 0 0 calc(50% - 24px);
        width: calc(50% - 24px);
        margin: 12px;
      }
    }
  }
</style>
