<template>
  <article class="certificate">
    <h3 class="certificate__title">Сертификаты</h3>

    <swiper class="certificate__swiper" :options="swiperOption">
      <swiper-slide>
        <img src="../assets/img/certificate1.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/img/certificate3.jpg" />
      </swiper-slide>
      <swiper-slide>
        <img src="../assets/img/certificate2.jpg" />
      </swiper-slide>
      <div slot="pagination" class="swiper-pagination"></div>
    </swiper>
  </article>
</template>

<script>
  import { Swiper, SwiperSlide } from 'vue-awesome-swiper'
  import 'swiper/css/swiper.css'

  export default {
    name: 'Certificate',

    components: {
      Swiper,
      SwiperSlide
    },

    data: () => ({
      swiperOption: {
        slidesPerView: 'auto',
        centeredSlides: true,

        pagination: {
          el: '.swiper-pagination',
          clickable: true
        }
      }
    })
  }
</script>

<style lang='scss'>
  @import "/assets/scss/variables.scss";
  @import "/assets/scss/mixins.scss";

  .certificate {
    @include advantages-certificate;

    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;

    &__swiper {
      margin-top: 28px;
      padding: 0 32px 64px;

      @media (max-width: $tablet) {
        padding: 0 8px 64px;
      }

      @media (max-width: $mobile) {
        margin-top: 48px;
        padding: 0 0 88px;
      }

      .swiper-wrapper {
        display: flex;
        box-sizing: border-box;
      }

      .swiper-pagination {
        bottom: 24px;

        @media (max-width: $mobile) {
          bottom: 32px;
        }
      }

      .swiper-slide {
        flex: 0 0 120px;
        width: 120px;
        margin: 0 12px;

        box-shadow: 0 30px 50px rgba(0, 13, 35, 0.15);
        border-radius: 8px;
        overflow: hidden;

        @media (max-width: $tablet) {
          margin: 0 56px;
        }

        @media (max-width: $mobile) {
          box-shadow: 0 10px 20px rgba(0, 13, 35, 0.15);
        }
      }

      .swiper-slide:hover {
        @media (min-width: $desktop) {
          transform: scale(1.3);
          transition: 1s;
        }
      }
    }
  }

</style>
