<template>
  <div class="info">
    <h3 class="info__title">Почему нужен проект?</h3>
    <p class="info__text">Покупатели часто сомневаются в целесообразности проектирования систем отопления,
      считая, что это пустая трата денег. И для их небольшого дома (у каждого понятие небольшого дома разное, кстати)
      никакого плана не надо.
    </p>

    <ol  class="info__line">
      <li v-for="item in infoList" :key="item.id" class="info__item info-item" >
        <p class="info-item__text" v-html="item.text"></p>
      </li>
    </ol>

  </div>
</template>

<script>
  export default {
    name: 'Information',
    data: () => ({
      infoList: [{
        id:1,
        text: 'По статистике разброс цен при монтаже без проекта достигает 30% только на оборудовании'
      }, {
        id:2,
        text: 'Сервисные центры не&nbsp;берут&nbsp;на&nbsp;обслуживание системы&nbsp;без&nbsp;проверки'
      }, {
        id:3,
        text: 'Проект инженерных систем&nbsp;обязателен'
      }, {
        id:4,
        text: 'Срыв сроков связан прежде всего с недопоставками необходимого оборудования'
      }, {
        id:5,
        text: 'Исправить неправильно собранную систему дороже'
      }]
    })
  }
</script>

<style lang="scss">
  @import "/assets/scss/variables.scss";
  @import "/assets/scss/mixins.scss";

  .info {
    @include base-block;
    padding: 32px 24px 24px;

    &__title {
      @include title;
    }

    &__text {
      margin: 24px auto;
      max-width: 815px;
      font-weight: 500;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      color: $gray;

      @media (max-width: $mobile) {
        max-width: 274px;
      }

      @media (min-width: $mobile) and (max-width: $tablet) {
        max-width: 391px;
      }
    }

    &__line {
      display: flex;
      list-style: none;
      counter-reset: myCounter;
      flex-wrap: wrap;
      margin: -20px -10px;
    }

    &__item {
      flex: 0 0 calc(20% - 20px);
      width: calc(20% - 20px);
      margin: 20px 10px;

      @media (max-width: $mobile) {
        flex: auto;
        width: auto;
      }

      @media (min-width: $mobile) and (max-width: $tablet) {
        flex: 0 0 calc(33% - 20px);
        width: calc(33% - 20px);
      }
    }

    .info-item {

      &::before {
        content: counter(myCounter);
        counter-increment: myCounter;

        display: flex;
        justify-content: center;
        align-items: center;
        width: 64px;
        height: 64px;
        margin: 0 auto 18px;

        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        color: #546DE5;

        border: 1px solid #EEEEEE;
        border-radius: 50%;
      }

      &__text {
        color: $black;
        text-align: center;
        font-weight: 500;
        font-size: 12px;
        line-height: 24px;

        @media (max-width: $mobile) {
          margin-bottom: 24px;
          max-width: 202px;
          margin-left: 15px;
        }
      }
    }
  }
</style>
