<template>
  <section class="navigation">
    <ul class="navigation__list">
      <li v-for="(item,index) in breadcrumbs" :key="index"
          class="navigation__item">
        <template v-if="item.link">
          <nuxt-link :to="item.link"
                     class="navigation_link">
            {{ item.name}}
          </nuxt-link>
        </template>

        <template v-else>{{item.name}}</template>
      </li>
    </ul>
  </section>
</template>

<script>
  export default {
    name: 'Navigation',
    data: () => ({
      breadcrumbs: [
        {
          name: 'Главная',
          link: '/'
        },
        {
          name: 'Исполненные проекты'
        }
      ]
    })
  }
</script>

<style lang='scss'>
  @import "/assets/scss/variables.scss";

  .navigation {
    &__list {
      font-size: 14px;
      line-height: 14px;
      color: $gray;
    }

    &__item {
      display: inline;
      font-size: 14px;
    }

    &__item {
      & + &::before {
        content: ">";
        padding: 8px;
        color: #808080;

      }
    }

    &__link {
      color: $gray;
      text-decoration: none;

      &:hover {
        color: $blue;
        text-decoration: underline;
      }
    }
  }

</style>
