<template>
  <form class="request">
    <h3 class="request__title">Оставить заявку на проект</h3>
    <input class="request__field" placeholder="Ваше имя" />
    <input class="request__field" placeholder="Ваша фамилия" />
    <input class="request__field" placeholder="Контактный email" />
    <textarea v-model="message" placeholder="Сообщение"
              class="request__field request__field--message"></textarea>

    <div class="request__btns">
      <button type="submit" class="request__btn">Отправить заявку</button>
      <label v-show="!isFileLoaded" class="fileLabel">
        <input ref="fileInput" type="file" class="fileLabel__display"  @change="onChangeInput" >
        <span class="fileLabel__field">
          <img src="../assets/img/clip.jpg">
          Прикрепите файл
        </span>
      </label>

      <span v-show="isFileLoaded" class="fileLabel__field">
        {{buttonText}}
        <a href="javascript:void(0)" class="fileLabel__x" @click="resetFileInput" >
          <img src="../assets/img/close.png">
        </a>
      </span>

    </div>

  </form>
</template>

<script>
  export default {
    name: 'RequestForm',
    data: () => ({
      message: '',
      buttonText: '',
      isFileLoaded: false
    }),
    methods: {
      onChangeInput(event) {
        this.isFileLoaded = true;
        this.buttonText = event.target.files[0].name;
      },
      resetFileInput () {
        this.$refs.fileInput.value = '';
        this.isFileLoaded = false;
      }
    }
  }
</script>

<style lang='scss'>
  @import "/assets/scss/variables.scss";
  @import "/assets/scss/mixins.scss";

  .request {
    @include base-block;
    padding: 32px 112px 64px;

    @media (min-width: $mobile) and (max-width: $tablet) {
      padding: 32px 45px 64px;
    }

    @media (max-width: $mobile) {
      padding: 23px 16px 64px;
    }

    &__title {
      @include title;
      margin-bottom: 32px;
    }

    &__field {
      & + & {
        margin-top: 24px;
      }

      width: 100%;
      height: 45px;
      padding: 0 18px;

      background: #FFFFFF;
      border: 1px solid #D8D8D8;
      border-radius: 8px;

      font-size: 14px;
      line-height: 16px;
      color: #808080;

      &--message {
        height: 100px;
        padding: 12px 18px;

        &::placeholder {
          font-family: $roboto;
        }
      }
    }

    &__btns {
      display: flex;
      align-items: flex-end;
      align-content: space-around;

      @media (max-width: $mobile) {
        flex-direction: column;
      }
    }

    &__btn {
      height: 44px;
      background: #546DE5;
      border-radius: 4px;

      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: $white;

      border: none;
      margin-right: 20px;

      @media (max-width: $mobile) {
        width: 100%;
        margin-right: 0;
        margin-top: 24px;
      }
    }

  .fileLabel {

    &__x {
      img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
      }
    }

    &__display {
      display: none;
    }

    &__field {
      display: flex;
      align-items: center;
      height: 44px;
      padding: 0 20px;
      margin-top: 20px;

      background: $white;
      border: 1px solid #E0E0E3;
      border-radius: 4px;

      font-weight: 500;
      font-size: 14px;
      line-height: 14px;
      color: #546DE5;
      justify-content: center;

      @media (max-width: $mobile) {
        width: 258px;
      }

      img {
        margin-right: 10px;
      }
    }
  }
  }
</style>
